.scroll--container {
  background-color: #00296b;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.scroll-bar {
  background-color: #ffd500;
  height: 10px;
  width: 100%;
}
.current-progress-bar {
  height: 10px;
  background-color: #d90368;
}
.list--container {
  margin-top: 125px;
}
